@model Triangles.Models.Triangle

<div class="container app-main" pt-5>
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-5">
            <img src="~/img/TriangleDiagram.png" alt="triangle diagram" class="w-100 h-auto" />
        </div>
        <div class="col-lg-8 col-md-12 app-column">
            <div class="card rounded shadow">
                <div class="card-header">
                    <h3>Enter Your Triangle Sides</h3>
                </div>
                <div class="card-body text-left">
                    <form asp-action="App" asp-controller="Home" method="post">
                        <label asp-for="FirstSide">Side 1</label>
                        <input asp-for="FirstSide" class="form-control" type="number" />

                        <label asp-for="SecondSide">Side 2</label>
                        <input asp-for="SecondSide" class="form-control" type="number" />

                        <label asp-for="ThirdSide">Side 3</label>
                        <input asp-for="ThirdSide" class="form-control" type="number" />

                        <button class="btn mt-3 text-white" type="submit" data-toggle="modal" data-target="#exampleModal">Submit!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @if (TempData["Status"] == "Fail")
    {
        <script>
            alert('You must enter a valid triangle! In order to be valid, no two sides added up can be less than the third side, and no sides can equal zero.')
        </script>

    }
    @if (Model.Results.ClassBySide is not null)
    {
        <div class="row mt-5 mb-5">
            <div class="col-12">
                <div class="card rounded shadow">
                    <div class="card-header">
                        <h3>Triangle Results</h3>
                    </div>
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <table class="table table-borderless">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    Is a Valid Triangle:
                                                </td>
                                                <td>
                                                    Yes
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Angle 1:
                                                </td>
                                                <td>
                                                    @Model.Results.FirstAngle<span>&#176;</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Angle 2:
                                                </td>
                                                <td>
                                                    @Model.Results.SecondAngle<span>&#176;</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Angle 3:
                                                </td>
                                                <td>
                                                    @Model.Results.ThirdAngle<span>&#176;</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Triangle type by side:
                                                </td>
                                                <td>
                                                    @Model.Results.ClassBySide
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Triangle type by angle:
                                                </td>
                                                <td>
                                                    @Model.Results.ClassByAngle
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-6">
                                            @if (Model.Results.ClassBySide == "Scalene")
                                            {
                                                <img src="~/img/Scalene.png" alt="scalene" class="resultsImg" />
                                            }
                                            else if (Model.Results.ClassBySide == "Isosceles")
                                            {
                                                <img src="~/img/Isosceles.png" alt="isosceles" class="resultsImg" />
                                            }
                                            else
                                            {
                                                <img src="~/img/Equilateral.png" alt="equilateral" class="resultsImg" />
                                            }
                                        </div>
                                        <div class="col-6">
                                            @if (Model.Results.ClassByAngle == "Right")
                                            {
                                                <img src="~/img/Right.png" alt="right" class="resultsImg" />
                                            }
                                            else if (Model.Results.ClassByAngle == "Obtuse")
                                            {
                                                <img src="~/img/Obtuse.png" alt="obtuse" class="resultsImg" />
                                            }
                                            else
                                            {
                                                <img src="~/img/AcuteTriangle.png" alt="acute" class="resultsImg" />
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }


</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
}


